.about {
  padding-top: 63px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-device) {
    padding-top: 40px;
  }

  &__title {
    text-align: left;
  }

  &__description {
    margin-top: 41px;

    @media (max-width: $mobile-device) {
      margin-top: 24px;
    }
  }

  &__link {
    margin-top: 56px;
    align-self: center;
    max-width: 224px;
    font-size: 0.8em;

    @media (max-width: $tablet-device-m) {
      margin-top: 32px;
    }

    @media (max-width: $mobile-device) {
      margin-top: 24px;
      font-size: 0.8em;
      font-weight: 600;
      padding: 13px 0;
      display: block;
      max-width: 288px;
      width: 100%;
    }
  }

  &__features {
    margin-top: 80px;
    padding-bottom: 81px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $mobile-device) {
      margin-top: 28px;
      padding-bottom: 41px;
      flex-direction: column;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: calc(33.333% - 12px);
      padding-bottom: 40px;
      padding-left: 36px;
      padding-right: 36px;

      &:nth-child(n+4) {
        margin-top: 56px;
      }

      @media (max-width: $tablet-device-m) {
        width: 50%;

        &:nth-child(n+3) {
          margin-top: 56px;
        }
      }

      @media (max-width: $mobile-device) {
        width: 100%;
        padding: 0;

        &:nth-child(n+2) {
          margin-top: 32px;
        }
      }
    }

    &-icon {
      width: 80px;
      height: 80px;
    }

    &-head {
      font-size: 0.9em;
      font-weight: 600;

      @media (max-width: $mobile-device) {
        font-weight: 400;
        font-size: 0.7em;
      }
    }
  }

  &__tooltip {
    color: var(--separator-light);
    font-size: 0.6em;
  }

  &__team {
    background-color: var(--bg-gray);
    padding-top: 60px;

    @media (max-width: $mobile-device) {
      padding-top: 40px;
    }

    & .slick-dots li button {
      &:before {
        border-color: var(--bg-blue);

        @media (max-width: $mobile-device) {
          border-color: var(--bg-white);
        }
      }
    }

    & .slick-dots li.slick-active button {
      &:before {
        background-color: var(--bg-blue);

        @media (max-width: $mobile-device) {
          background-color: var(--bg-white);
        }
      }
    }
  }

  &__slider {
    padding-top: 70px;

    @media (max-width: $mobile-device) {
      padding-top: 35px;
    }

    &-slide {
      display: flex !important;
      justify-content: space-between;

      @media (max-width: $mobile-device) {
        flex-direction: column-reverse;
      }

      & img {
        width: 50%;
        max-width: 440px;
        margin-right: 23px;

        @media (max-width: $mobile-device) {
          width: 100%;
          margin: 28px auto 0;
        }
      }
    }

    &-item {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-top: 55px;

      @media (max-width: $tablet-device-m) {
        padding-top: 0;
      }

      @media (max-width: $mobile-device) {
        width: 100%;
      }
    }
  }

  &__q {
    font-family: var(--ff-PTSans);
    font-weight: 700;
    font-size: 1.2em;

    @media (max-width: $mobile-device) {
      font-family: var(--ff-OpenSans);
      font-weight: 600;
      font-size: 0.9em;
    }

    &-author {
      font-weight: 600;
      margin-top: 60px;

      @media (max-width: $mobile-device) {
        margin-top: 16px;
        font-size: 0.8em;
      }

      &--bio {
        display: block;
        font-size: 0.8em;
        font-weight: 400;
        margin-top: 4px;

        @media (max-width: $mobile-device) {
          font-size: 0.9em;
        }
      }
    }
  }

  &__work {
    padding-top: 63px;
    position: relative;
    text-align: center;
    padding-right: 0;

    @media (max-width: $tablet-device-l) {
      padding-right: 0;
    }

    @media (max-width: $tablet-device-m) {
      padding-right: 0;
    }

    @media (max-width: $mobile-device) {
      padding-right: 0;
      padding-top: 40px;
    }

    &-link {
      border-radius: 4px;
      background-color: var(--bg-blue);
      color: var(--text-white);
      padding: 13px 28px;
      margin-top: 56px;
      text-decoration: none;
      display: inline-block;
      font-size: 0.8em;
      transition: var(--transition);

      @media (max-width: $tablet-device-m) {
        margin-top: 32px;
      }

      @media (max-width: $mobile-device) {
        font-weight: 600;
        max-width: 288px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-right: 16px;
      }

      &:hover {
        background-color: var(--link-hover);
      }

      &:active {
        opacity: 0.8;
      }
    }
  }

  &__img {

    @media (max-width: $mobile-device) {
      width: 232px;
      height: 175px;
    }

    &-item {
      margin-right: 16px;
    }
  }

  &__faq {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: $tablet-device-l) {
      justify-content: space-between;
    }

    @media (max-width: $mobile-device) {
      margin-top: 48px;
    }

    &-item {
      width: calc(33.333% - 12px);
      display: flex;
      justify-content: space-between;
      padding: 16px 16px 56px;
      border: 1px solid #F1F3F5;
      box-shadow: 0 2px 8px #F1F3F5;
      border-radius: 4px;
      transition: all 0.3s ease;

      @media (max-width: $tablet-device-l) {
        width: calc(50% - 8px);
      }

      @media (max-width: $mobile-device) {
        width: 100%;
      }

      &.w-100 {
        width: 100%;
        flex-wrap: wrap;
        order: -1;

        & p,
        & .about__faq-question {
          font-weight: 600;
          max-width: none;
        }

        & .about__faq-item-ripple {
          display: block;
        }
      }

      &-ripple {
        margin-top: 24px;
        width: 100%;
        font-size: 0.8em;
        display: none;
      }
    }

    &-question {
      max-width: 240px;
    }

    &-icon {
      width: 24px;
      height: 24px;

      @media (max-width: $mobile-device) {
        min-width: 20px;
        min-height: 20px;
      }

      &-button {
        border: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #F2F8FD;
        padding: 14px;
        width: 56px;
        height: 56px;
        opacity: 0.8;
        transition: all 0.3s ease;

        &:hover {
          opacity: 1;
        }

        @media (max-width: $mobile-device) {
          margin-left: 16px;
          width: 40px;
          height: 40px;
          padding: 10px;
        }

        & span.close {
          display: none;
          opacity: 0.6;
          transition: all 0.3s ease;

          &:hover {
            opacity: 1;
          }
        }

        &.active {
          background-color: #FFFFFF;
          width: 16px;
          height: 16px;

          & .about__faq-icon,
          & img {
            display: none;
          }

          & span.close {
            display: block;
          }
        }
      }
    }
  }
}