.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1504px;
  padding: 0 112px;

  @media (max-width: $tablet-device-l) {
    padding-left: 72px;
    padding-right: 72px;
  }

  @media (max-width: $tablet-device-m) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &--header-footer {
    padding: 0 40px;

    @media (max-width: $tablet-device-l) {
      padding-left: 8px;
      padding-right: 8px;
    }

    @media (max-width: $tablet-device-m) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (max-width: $mobile-device) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-col {
      @media (max-width: $tablet-device-m) {
        flex-direction: column;
      }
    }
  }

  &--align-stretch {
    align-items: stretch;
  }
}

a.page__subtitle:hover {
  text-decoration: underline;
}

.page {

  &__block {
    padding-top: 88px;
    padding-bottom: 96px;

    @media (max-width: $tablet-device-l) {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    @media (max-width: $tablet-device-m) {
      padding-top: 48px;
      padding-bottom: 60px;
    }

    @media (max-width: $mobile-device) {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }

  &__title {
    font-family: var(--ff-PTSans);
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-decoration: none;
    color: var(--text-color);

    @media (max-width: $mobile-device) {
      font-size: 1.2em;
    }
  }

  &__subtitle {
    font-family: var(--ff-PTSans);
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--text-color);
    transition: var(--transition);

    @media (max-width: $mobile-device) {
      font-size: 0.9em;
      font-weight: 600;
      font-family: var(--ff-OpenSans);
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-image: url("/img/icon/Arrow/Right/Type3.svg");
      background-position: right;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;

      @media (max-width: $mobile-device) {
        content: none;
      }
    }

    &--fw400 {
      font-weight: 400;
    }
  }

  &__text {
    font-family: var(--ff-OpenSans);
    font-size: 0.8em;

    @media (max-width: $mobile-device) {
      font-size: 0.7em;
    }
  }

  &__nav {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px #F1F3F5;

    @media (max-width: $tablet-device-m) {
      overflow: auto;
    }

    @media (max-width: $mobile-device) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &-link {
      text-align: center;
      text-decoration: none;
      font-size: 0.7em;
      padding: 8px 12px;
      margin-right: 16px;
      color: var(--text-color);
      transition: var(--transition);
      box-shadow: 0 2px 8px #F1F3F5;
      border-radius: 22px;

      @media (max-width: $tablet-device-l) {
        padding: 8px;
      }

      @media (max-width: $tablet-device-m) {
        white-space: nowrap;
      }

      @media (max-width: $mobile-device) {
        font-size: 0.5em;
      }

      &:last-child {
        margin-right: 0;
      }

      &--active {
        color: var(--text-white);
        background-color: var(--bg-blue);
      }

      &:hover {
        background-color: var(--link-hover);
        color: var(--text-white);
      }
    }
  }
}

.breadcrumb {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-device) {
    display: none;
  }

  &__item {
    display: inline;

    &:not(:first-child) + &:before {
      content: '';
      display: inline-block;
      margin: 0 8px;
      vertical-align: middle;
      height: 16px;
      width: 16px;
      background-image: url("/img/icon/Arrow/Right/Type3.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--tooltip-color);
    transition: var(--transition);
    font-size: 0.5em;
    vertical-align: middle;

    &:hover {
      filter: brightness(0.7);
    }

    &:active {
      opacity: 0.8;
    }

    &--back {
      margin-right: 18px;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 8px;
        background-image: url('/img/icon/Arrow/left.svg');
        background-position: left;
        background-repeat: no-repeat;
        margin-right: 8px;
      }
    }
  }
}
