.connect {

  & > .page__text {
    font-size: 0.9em;
  }

  & > .page__text:not(:first-of-type) {
    margin-top: 24px;
  }

  & > .page__text:first-of-type {
    margin-top: 56px;
  }

  & > .page__text:last-of-type {
    font-weight: 700;
  }

  &__mode {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-item {
      width: calc(50% - 44px);
      font-size: 0.9em;

      &:last-child {
        margin-top: 0;
      }

      &--fw700 {
        font-weight: 700;
        font-size: 1.3em;
        display: block;
        padding-bottom: 16px;
      }
    }
  }

  &__docs {
    padding: 0;
    margin: 0;
    padding-left: 24px;
    margin-right: 66px;
    list-style: none;

    & li {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      &:not(:first-child) {
        margin-top: 24px;
      }

      &:before {
        content: '';
        min-width: 8px;
        min-height: 8px;
        margin-top: 8px;
        margin-right: 24px;
        background-color: #0F1C49;
        border-radius: 50%;
      }
    }

    &-link {
      text-decoration: none;
      font-size: 0.7em;
      color: #009BDE;
    }
  }

  &__source {

    &-item {

      &:first-of-type {
        margin-top: 200px;
        padding-bottom: 55px;
      }

      &--tt {
        text-transform: uppercase;
        margin-top: 120px;
      }

      & ul.page__text {
        margin: 0;
        padding: 0;
        list-style: none;

        & li:before {
          content: '-';
          padding-right: 5px;
        }
      }
    }

    &--mw344px {
      max-width: 344px;
    }

    &-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & img:nth-child(n+3) {
        margin-top: 100px;
      }
    }

    &-head {
      text-align: center;

      & > .page__title {
        padding-bottom: 20px;
      }

      &-img {
        width: 347px;
        height: 274px;
      }
    }

    &-description {
      margin-top: 156px;

      & p {
        margin-top: 16px;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  &__proc {

    &-list {
      padding-left: 68px;
    }

    &-item {
      display: flex;
      align-items: center;
      background-color: #FFFFFF;
      padding: 40px 32px;
      margin-top: 48px;
    }

    &-amount {
      margin-right: 48px;
      margin-bottom: 0;
    }

    &-instruction {
      padding-top: 17px;
    }

    &-step {
      border: 1px solid #009BDE;
      border-radius: 4px;
      padding: 16px;
      min-height: 112px;
      width: calc(50% - 8px);
      margin-top: 0;
    }
  }

  &__order {

    &-img {
      margin-top: 74px;
    }

    &-list {
      margin-top: 80px;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 48px;

      & .egis-otb__create-item {
        width: calc(50% - 37px);
        font-size: 0.9em;
        margin-top: 0;
      }
    }

    &-done {
      font-weight: 700;
      font-size: 0.9em;
      margin-top: 116px;
    }
  }

  &__transfer-tabs {
    margin-top: 120px;
  }
}
