.contacts {
  margin-top: 64px;

  & > .feedback .feedback__text {
    width: calc(33.333% - 24px);

    @media (max-width: $tablet-device-m) {
      order: 1;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    &:last-child {

      @media (max-width: $tablet-device-m) {
        margin-top: 40px;
        width: 100%;
        max-width: none;
      }
    }
  }

  &__consultation {
    margin-top: 73px;
    background-color: #F2F8FE;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    & .feedback__text {

      @media (max-width: $tablet-device-m) {
        max-width: none;
        margin-top: 0;
      }
    }

    @media (max-width: $tablet-device-m) {
      margin-top: 0;
      padding-bottom: 25px;
      padding-top: 24px;
    }

    &--ml {
      margin-left: 36px;
    }

    &--flex {
      @media (max-width: $tablet-device-m) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-img {
      width: 173px;
      height: 167px;
      margin-right: 56px;
      margin-left: 52px;

      @media (max-width: $tablet-device-l) {
        margin-right: 16px;
        margin-left: 24px;
      }

      @media (max-width: $tablet-device-m) {
        margin-left: 16px;
      }
    }
  }

  &__connect {
    border: none;
    background: none;
    text-decoration: none;
    padding: 9px 35px;
    color: var(--text-white);
    background-color: var(--bg-blue);
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
    margin-right: 32px;

    @media (max-width: $tablet-device-l) {
      font-size: 0.8em;
      margin-right: 51px;
    }

    @media (max-width: $tablet-device-m) {
      order: 2;
      margin-top: 16px;
    }

    &:hover {
      background-color: var(--link-hover);
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__smi {
    margin-top: 57px;
  }

  &__way {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    border: 1px solid #F3F3F5;
    border-radius: 4px;
    padding: 24px 24px 20px;

    &-item {
      width: calc(50% - 32px);

      @media (max-width: $tablet-device-m) {
        width: calc(50% - 24px);
      }

      &:nth-child(n+3) {
        margin-top: 27px;
      }

      &--underline {
        text-decoration: underline;
        display: block;
      }

      & .contacts__way-item--underline:last-child {
        margin-top: 24px;
      }
    }

    &-subtitle {
      font-weight: 700;
      display: block;
      padding-bottom: 24px;
    }
  }

  &__map {
    margin-top: 16px;
  }
}
