.egis-otb {
  background-image: url('/img/egis-otbbg.svg'), linear-gradient(90deg, #4481EB 0%, #04BEFE 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: luminosity;
  padding-top: 60px;
  padding-bottom: 265px;
  color: var(--text-white);
  align-items: flex-start;

  @media (max-width: $mobile-device) {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 127px;
    background-size: auto;
    background-position: left bottom;
  }

  &__title {
    max-width: 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-device) {
      max-width: none;
    }
  }

  &__subtitle {
    font-size: 0.9em;
    margin-top: 18px;

    @media (max-width: $mobile-device) {
      font-size: 0.7em;
      margin-top: 8px;
    }
  }

  &__link {
    background-color: var(--bg-white);
    color: var(--link-color);
    width: 100%;
    max-width: 448px;
    margin-top: 24px;

    @media (max-width: $tablet-device-m) {
      max-width: 320px;
    }

    @media (max-width: $mobile-device) {
      margin-top: 16px;
    }

    &:last-child {
      margin-right: 32px;

      @media (max-width: $tablet-device-m) {
        margin-right: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      color: var(--text-white);
    }

    &-wrap {
      display: flex;
      flex-direction: column;

      @media (max-width: $mobile-device) {
        margin-top: 48px;
      }
    }
  }

  &__task {
    font-size: 0.9em;

    @media (max-width: $tablet-device-m) {
      font-size: 0.8em;
    }

    @media (max-width: $mobile-device) {
      font-size: 0.7em;
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 100px;

      @media (max-width: $tablet-device-m) {
        margin-top: 87px;
      }

      @media (max-width: $mobile-device) {
        margin-top: 40px;
        flex-direction: column;
      }
    }

    &-icon {
      width: 80px;
      height: 80px;
      margin-right: 48px;

      @media (max-width: $tablet-device-l) {
        margin-right: 32px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      max-width: calc(50% - 35px);
      padding-bottom: 55px;
      border-bottom: 1px solid #DAEBF7;

      &:nth-of-type(n+3) {
        margin-top: 64px;

        @media (max-width: $tablet-device-l) {
          margin-top: 54px;

          @media (max-width: $mobile-device) {
            margin-top: 32px;
          }
        }
      }

      @media (max-width: $tablet-device-l) {
        padding-bottom: 21px;
      }

      @media (max-width: $tablet-device-m) {
        padding-bottom: 0;
        border-bottom: none;
        width: calc(50% - 15px);
      }

      @media (max-width: $mobile-device) {
        flex-direction: column;
        width: 100%;
        margin-top: 32px;
        max-width: none;
        align-items: flex-start;
      }
    }

    &-value {
      color: var(--link-color);
      font-weight: 700;
      font-size: 2.8em;

      &--fs {
        font-size: 0.33em;
      }
    }
  }

  &__structure {
    background-color: var(--bg-light);

    &-map {
      margin-top: 32px;

      @media (max-width: $tablet-device-m) {
        margin-right: 0;
        overflow: scroll;
      }
    }

    &-img {
      display: block;
      margin: auto;

      @media (max-width: $tablet-device-m) {
        width: 984px;
        height: 544px;
        max-width: none;
        padding-right: 40px;
        padding-left: 40px;
      }

      @media (max-width: $mobile-device) {
        padding-left: 16px;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 888px;
    padding: 53px 56px 45px;
    margin-top: 52px;
    max-width: calc(50% - 5px);

    @media (max-width: $tablet-device-l) {
      padding-right: 32px;
      padding-left: 32px;
    }

    @media (max-width: $tablet-device-m) {
      width: 100%;
      max-width: 100%;
      min-height: auto;
      padding: 0;
      margin-top: 40px;
    }

    &--border {
      border: 1px solid #E6E6E6;
      box-shadow: 0 2px 8px #F1F3F5;
      border-radius: 4px;

      @media (max-width: $tablet-device-m) {
        padding: 32px 56px;
        flex-direction: row;
        flex-wrap: wrap;
      }

      @media (max-width: $mobile-device) {
        border-color: transparent;
        box-shadow: none;
        overflow: auto;
        flex-wrap: nowrap;
        padding: 0;
      }
    }

    & .egis-otb__task-item {
      border: none;
      padding-bottom: 0;
      margin-top: 0;
      max-width: 100%;

      @media (max-width: $tablet-device-l) {
        margin-top: 48px;

        &:first-child {
          margin-top: 0;
        }
      }

      @media (max-width: $tablet-device-m) {
        width: 100%;

        &:nth-child(2) {
          margin-top: 0;

          @media (max-width: $mobile-device) {
            margin-top: 48px;
          }
        }
      }

      @media (max-width: $mobile-device) {
        flex-direction: row;
        margin-top: 48px;
      }

      & .egis-otb__task-icon {
        margin-right: 24px;
      }

      &--flex-col {
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: $tablet-device-m) {
          width: calc(50% - 32px);
        }

        @media (max-width: $mobile-device) {
          border-radius: 4px;
          border: 1px solid #E6E6E6;
          box-shadow: 0 2px 8px #F1F3F5;
          min-width: 216px;
          margin-top: 0;
          padding: 16px;
          margin-right: 16px;
          flex-direction: column;

          &:last-child {
            margin-right: 0;
          }

          &:nth-child(2) {

            @media (max-width: $mobile-device) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  &__external {
    background-color: #016CB1;
    color: var(--text-white);

    & .page__text {
      margin-top: 24px;
    }

    &-map {
      margin-top: 68px;

      @media (max-width: $tablet-device-m) {
        overflow: scroll;
      }
    }

    &-img {
      display: block;
      margin: auto;
      padding-left: 72px;
      padding-right: 72px;

      @media (max-width: $tablet-device-l) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (max-width: $tablet-device-m) {
        width: 940px;
        height: 483px;
        max-width: none;
        padding-right: 16px;
        padding-left: 16px;
      }
    }
  }

  &__create {
    background-color: var(--bg-light);

    &-text {
      margin-top: 75px;
      align-items: flex-start;
      background-image: url("/img/illustration_032.png");
      background-position: 125px 100%;
      background-repeat: no-repeat;

      @media (max-width: $tablet-device-l) {
        background-position: 73px;
      }

      @media (max-width: $tablet-device-m) {
        flex-direction: column;
        background-position: top right;
        background-size: 376px 332px;
      }

      @media (max-width: $mobile-device) {
        background-size: 288px 254px;
        background-position: center 160px;
        margin-top: 24px;
      }
    }

    &-title {
      width: calc(50% - 80px);
      font-weight: 600;

      @media (max-width: $mobile-device) {
        font-size: 0.8em;
        width: 100%;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      width: calc(50% - 80px);
      font-size: 0.9em;

      @media (max-width: $tablet-device-m) {
        width: 100%;
        margin-top: 112px;
        padding-left: 56px;
        padding-right: 56px;
      }

      @media (max-width: $mobile-device) {
        padding-left: 0;
        padding-right: 0;
        margin-top: 250px;
        font-size: 0.7em;
      }
    }

    &-item {
      margin-top: 88px;

      @media (max-width: $tablet-device-m) {
        margin-top: 72px;
      }

      @media (max-width: $mobile-device) {
        margin-top: 32px;
      }

      &:first-child {
        margin-top: 0;
      }

      &:before {
        content: '';
        width: 64px;
        height: 4px;
        display: block;
        margin-bottom: 16px;
      }

      &:first-child:before {
        background-color: #016CB1;
      }

      &:nth-child(2):before {
        background-color: #41B6E6;
      }

      &:nth-last-child(2):before {
        background-color: #08ACB3;
      }

      &:last-child:before {
        background-color: #08ACB3;
      }
    }
  }

  &__reward {
    align-items: stretch;
    margin-top: 98px;

    @media (max-width: $tablet-device-m) {
      margin-top: 54px;
      flex-direction: column;
    }

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $tablet-device-m) {
        flex-direction: row;
      }

      @media (max-width: $mobile-device) {
        flex-direction: column;
        margin-top: 16px;
      }
    }

    &-img {
      margin-right: 16px;
      border-radius: 4px;
      box-shadow: 0 2px 8px #F1F3F5;
      max-width: 50%;

      @media (max-width: $tablet-device-m) {
        max-width: 100%;
        width: 100%;
      }
    }

    &-icon {
      width: 150px;
      margin-right: 40px;

      @media (max-width: $tablet-device-l) {
        margin-right: 22px;
      }

      @media (max-width: $tablet-device-m) {
        width: 112px;
      }

      @media (max-width: $mobile-device) {
        width: 80px;
        margin-right: 16px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9em;
      padding: 27px 49px;
      box-shadow: 0 2px 8px #F1F3F5;
      border-radius: 4px;

      @media (max-width: $tablet-device-l) {
        padding: 26px 24px 26px 31px;
      }

      @media (max-width: $tablet-device-m) {
        font-size: 0.8em;

        &:first-child {
          margin-right: 16px;

          @media (max-width: $mobile-device) {
            margin-right: 0;
          }
        }
      }

      @media (max-width: $mobile-device) {
        font-size: 0.7em;

        &:last-child {
          margin-top: 16px;
        }
      }
    }
  }
}