.egis-otb {
  background-image: url('/img/egis-otbbg.svg'), linear-gradient(90deg, #4481EB 0%, #04BEFE 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
  padding-top: 60px;
  padding-bottom: 265px;
  color: var(--text-white);
  align-items: flex-start;

  &__title {
    max-width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-size: 0.9em;
    margin-top: 18px;
  }

  &__link {
    background-color: var(--bg-white);
    color: var(--link-color);
    width: 100%;
    max-width: 448px;
    margin-top: 24px;

    &:last-child {
      margin-right: 32px;
    }

    &:first-child {
      margin-top: 0;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
    }
  }

  &__task {
    font-size: 0.9em;

    &-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 100px;
    }

    &-icon {
      width: 80px;
      height: 80px;
      margin-right: 48px;
    }

    &-item {
      display: flex;
      align-items: center;
      max-width: calc(50% - 35px);
      padding-bottom: 55px;
      border-bottom: 1px solid #DAEBF7;

      &:nth-of-type(n+3) {
        margin-top: 64px;
      }
    }
  }
}