.egis {

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('/img/egis_01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    @media (max-width: $tablet-device-l) {
      background-size: 432px 370px;
    }

    @media (max-width: $tablet-device-m) {
      background-size: 311px 266px;
      background-position: right top;
    }

    @media (max-width: $mobile-device) {
      background-position: center;
      background-size: 288px 246px;
    }
  }

  &__description {
    margin-top: 22px;
    max-width: 700px;

    @media (max-width: $tablet-device-l) {
      max-width: 432px;
    }

    @media (max-width: $mobile-device) {
      max-width: none;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--text-white);
    background-color: var(--bg-blue);
    border-radius: 4px;
    max-width: 272px;
    width: 100%;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 32px;
    transition: var(--transition);

    @media (max-width: $mobile-device) {
      margin-right: 0;
      max-width: 288px;
    }

    &:last-child {
      margin-right: 0;

      @media (max-width: $mobile-device) {
        margin-top: 16px;
      }
    }

    &:hover {
      background-color: var(--link-hover);
    }

    &:active {
      opacity: 0.8;
    }

    &-wrap {
      margin-top: 30px;
      padding-bottom: 70px;
      display: flex;
      align-items: center;

      @media (max-width: $tablet-device-m) {
        padding-bottom: 0;
      }

      @media (max-width: $mobile-device) {
        flex-direction: column;
        margin-top: 300px;
      }
    }
  }
}