.events {
  background-color: var(--bg-light);
  padding-bottom: 107px;

  @media (max-width: $tablet-device-m) {
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-device) {
    padding-bottom: 46px;
  }

  &__wrap {
    align-items: stretch;

    @media (max-width: $tablet-device-l) {
      flex-wrap: wrap;
    }
  }

  &__articles {
    width: calc(66.666% - 8px);
    display: flex;
    flex-direction: column;

    & > .page__subtitle {
      width: 105px;
    }

    @media (max-width: $tablet-device-l) {
      width: 100%;
    }
  }

  &__measure {
    width: calc(33.333% - 8px);
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet-device-l) {
      width: calc(50% - 4px);
      margin-top: 80px;
    }

    @media (max-width: $tablet-device-m) {
      width: 100%;
    }

    @media (max-width: $mobile-device) {
      margin-top: 56px;
    }
  }

  &__articles,
  &__measure {
    & > .page__subtitle {
      margin-bottom: 56px;

      @media (max-width: $mobile-device) {
        margin-bottom: 32px;
      }
    }

    & > .plan__link-more {
      display: none;
      font-size: 0.8em;
      font-weight: 600;
      padding: 13px 0;
      width: 100%;
      margin-top: 24px;
      max-width: none;

      @media (max-width: $mobile-device) {
        display: block;
      }
    }
  }

  &__item {
    padding: 24px 16px 23px;
    display: flex;
    flex-direction: column;
    min-height: 344px;
    border-radius: 4px;
    transition: var(--transition);

    @media (max-width: $mobile-device) {
      width: 100%;
    }

    &:hover {
      box-shadow: 0px 24px 69px rgba(0, 0, 0, 0.04), 0px 7.2353px 20.8015px rgba(0, 0, 0, 0.0260636), 0px 3.00517px 8.63987px rgba(0, 0, 0, 0.02), 0px 1.08691px 3.12487px rgba(0, 0, 0, 0.0139364);
    }

    &-wrap {
      display: flex;

      @media (max-width: $tablet-device-m) {
        flex-wrap: wrap;
      }
    }

    &--main {
      color: var(--text-white);
      background-image: url("/img/event-bg.png"), linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 20.76%, #555657 82.15%);
      background-repeat: no-repeat;
      background-blend-mode: multiply;
      background-size: 150% 100%;
      background-position: center;
      justify-content: flex-end;

      @media (max-width: $tablet-device-m) {
        background-size: 100% 100%;
        width: 100%;
      }

      @media (max-width: $mobile-device) {
        background-size: 200% 120%;
      }
    }

    &--width {
      width: 100%;
      min-height: 100px;
      padding-left: 12px;

      @media (max-width: $mobile-device) {
        min-height: 176px;
        background-color: var(--bg-white);
      }

      &:hover {
        box-shadow: none;
      }

      &:first-child {
        padding-top: 0;
        padding-right: 0;

        @media (max-width: $tablet-device-m) {
          padding: 0;
        }

        @media (max-width: $mobile-device) {
          padding: 24px 16px 40px;
        }
      }

      &:last-child {
        padding-bottom: 0;
        padding-right: 0;
        margin-top: auto;
        justify-content: flex-end;

        @media (max-width: $tablet-device-m) {
          margin-top: 0;
          padding: 0;
          justify-content: flex-start;
        }

        @media (max-width: $mobile-device) {
          padding: 24px 16px 40px;
          margin-top: 16px;
        }
      }
    }

    &--bg-white {
      background-color: var(--bg-white);
    }

    &--flex {
      @media (max-width: $tablet-device-m) {
        flex-direction: row;
        min-height: auto;
        padding: 0;
        padding-top: 32px;

        &:hover {
          box-shadow: none;
        }
      }

      @media (max-width: $mobile-device) {
        flex-direction: column;
        padding-top: 16px;
      }
    }
  }
}