.footer {
  border-top: 1px solid var(--separator-light);

  &__nav {

    @media (max-width: $mobile-device) {
      padding-right: 0;
      padding-left: 0;
    }

    &-wrap {
      overflow: auto;
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-link {
      margin-right: 32px;
      font-weight: 600;
      font-size: 0.8em;
      color: var(--link-color);
      text-decoration: none;
      transition: var(--transition);

      @media (max-width: $tablet-device-l) {
        font-size: 0.7em;
      }

      @media (max-width: $mobile-device) {
        margin-right: 24px;
        white-space: nowrap;

        &:first-child {
          margin-left: 16px;
        }

        &:last-child {
          padding-right: 16px;
          margin-right: 0;
        }
      }

      &:hover {
        color: var(--link-hover);
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 11px;

    @media (max-width: $tablet-device-m) {
      flex-direction: column;
    }
  }

  &__info {
    background-color: var(--bg-footer);
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 16px;
    max-width: 272px;

    @media (max-width: $tablet-device-l) {
      max-width: 240px;
    }

    @media (max-width: $tablet-device-m) {
      max-width: none;
      width: 100%;
      border-bottom: 1px solid #E3E5E7;
      padding-bottom: 11px;
    }

    &-title {
      font-size: 0.9em;
      font-weight: 600;

      @media (max-width: $tablet-device-m) {
        font-weight: 400;
        font-size: 0.8em;
      }
    }

    &-ripple {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }

    &-link {
      text-decoration: none;
      font-style: normal;
      font-size: 0.7em;
      color: var(--tooltip-color);
      transition: var(--transition);
      margin-top: 10px;
      max-width: 272px;

      &:hover {
        filter: brightness(0.7);
      }

      &:active {
        color: var(--link-color);
      }
    }

    &-social {
      flex-grow: 1;
      display: flex;

      & > .footer__item {
        width: 100%;

        & .footer__item-ripple {
          @media (max-width: $tablet-device-m) {
            flex-direction: row;
            justify-content: space-between;
          }

          @media (max-width: $mobile-device) {
            flex-direction: column;
          }
        }
      }

      @media (max-width: $tablet-device-l) {
        flex-direction: column;
      }
    }
  }

  &__social {
    margin-left: auto;
    margin-top: 54px;
    display: flex;
    align-items: flex-start;

    @media (max-width: $tablet-device-l) {
      margin-left: 0;
      margin-top: 23px;
    }

    &-link {
      text-decoration: none;
      transition: var(--transition);

      &:hover {
        filter: brightness(0.7);
      }

      &:first-child {
        margin-right: 16px;

        @media (max-width: $tablet-device-m) {
          margin-right: 24px;
        }
      }

      &-icon {
        width: 24px;
        height: 24px;

        @media (max-width: $tablet-device-m) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &__copyright {
    border-top: 1px solid var(--separator-light);
    padding-top: 24px;
    padding-bottom: 20px;

    @media (max-width: $tablet-device-m) {
      padding-top: 0;
      border-top: none;
    }

    &-text {
      font-size: 0.6em;

      &--block {
        @media (max-width: $tablet-device-m) {
          display: block;
        }
      }
    }
  }

  & .header__link {
    @media (max-width: $tablet-device-l) {
      display: none;
    }
  }
}

@media (max-width: $tablet-device-m) {
  .footer__acc {

    &-title {
      color: var(--text-color);
      cursor: pointer;
      margin-top: 12px;
      transition: var(--transition);
      display: flex;
      align-items: center;

      &:after {
        content: '';
        width: 16px;
        height: 16px;
        background-image: url("/img/arrow-right__footer.svg");
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        right: 32px;
        transition: var(--transition);

        @media (max-width: $mobile-device) {
          right: 8px;
        }
      }

      &--active {
        color: var(--link-color);

        &:after {
          transform: rotate(90deg);
        }
      }

      &--mt0 {
        margin-top: 0;
      }
    }

    &-content {
      display: none;
      padding-left: 14px;
      padding-right: 32px;
    }
  }
}