.header {
  min-height: 80px;
  box-shadow: 0 2px 8px #F1F3F5;
  z-index: 10;

  @media (max-width: $mobile-device) {
    min-height: 44px;
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //overflow: hidden;

    & > .header__link:after {
      content: none;

      @media (max-width: $mobile-device) {
        margin-right: auto;
      }
    }
  }

  &__item {
    margin-left: auto;
    display: flex;
    align-items: center;

    & > .header__connect-link {
      @media (max-width: $mobile-device) {
        display: none;
      }
    }
  }

  &__logo {
    width: 240px;
    height: 32px;

    @media (max-width: $mobile-device) {
      width: 160px;
      height: 21px;
      vertical-align: middle;
    }
  }

  &__link {

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $tablet-device-m) {
        display: none;
      }
    }

    text-decoration: none;
    color: var(--text-color);
    font-size: 0.7em;
    margin-right: 40px;
    transition: var(--transition);

    //TODO change (blue ...)

    @media (max-width: $tablet-device-l) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    // TODO change 
    &:hover {
      color: var(--link-hover);

      &:after {
        transform: rotate(180deg);
      }
    }

    &:active {
      opacity: 0.8;
    }

    &--color {
      color: var(--link-color);
    }

    &:after {
      content: "";
      margin-left: 8px;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.9px 4px 0 4px;
      border-color: var(--bg-blue) transparent transparent transparent;
      border-radius: 2px;
      transition: var(--transition);
    }
  }

  &__connect-link {
    text-decoration: none;
    color: var(--link-color);
    background-color: var(--bg-light);
    padding: 11px 13px;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 600;
    margin-right: 32px;
    transition: var(--transition);

    &--burger {
      display: none;

      @media (max-width: $mobile-device) {
        display: block;
        margin-right: 0;
        max-width: 208px;
        margin-left: 16px;
      }
    }

    &:hover {
      background-color: #F7F8FA;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__search-input {
    display: none;
    border: none;
    background: none;
    border-radius: 4px;
    background-color: var(--bg-light);
    height: 43px;
    padding: 0 11px;
    width: 200px;
    font-family: var(--ff-OpenSans);
    font-size: 0.7em;
    margin-right: 12px;
  }

  &__search-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 27px;
    transition: var(--transition);

    @media (max-width: $mobile-device) {
      margin-right: 19px;
    }

    //TODO change

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
    margin-left: 25px;

    @media (max-width: $tablet-device-m) {
      display: block;
    }

    &-icon {
      background-color: #0F1C49;
      width: 28px;
      height: 5px;
      display: block;
      border-radius: 20px;
      position: relative;
      transition: var(--transition);

      @media (max-width: $mobile-device) {
        width: 16px;
        height: 3px;
      }

      &:before,
      &:after {
        content: '';
        background-color: #0F1C49;
        width: 28px;
        height: 5px;
        border-radius: 20px;
        position: absolute;
        transition: var(--transition);

        @media (max-width: $mobile-device) {
          width: 16px;
          height: 3px;
        }
      }

      &:before {
        top: 10px;

        @media (max-width: $mobile-device) {
          top: 6px;
        }
      }

      &:after {
        top: -10px;

        @media (max-width: $mobile-device) {
          top: -6px;
        }
      }

      &--show {
        height: 0;

        @media (max-width: $mobile-device) {
          height: 0;
        }

        &:before {
          top: 0;
          transform: rotate(45deg);

          @media (max-width: $mobile-device) {
            top: 0;
          }
        }

        &:after {
          top: 0;
          transform: rotate(-45deg);

          @media (max-width: $mobile-device) {
            top: 0;
          }
        }
      }
    }

    &-menu {
      z-index: 2;
      overflow: auto;
      display: flex;
      position: absolute;
      top: -100%;
      right: 0;
      width: 100vw;
      height: calc(100vh - 80px);
      padding-top: 16px;
      padding-bottom: 56px;
      background-color: rgba(255,255,255,0.98);
      flex-direction: column;
      transition: all 0.5s ease;

      @media (max-width: $mobile-device) {
        height: calc(100vh - 44px);
      }

      &--show {
        top: 80px;

        @media (max-width: $mobile-device) {
          top: 44px;
        }
      }
    }

    &-item {
      border-bottom: 1px solid #F7F8FA;
      margin-left: 18px;
      margin-right: 18px;

      @media (max-width: $mobile-device) {
        margin-top: 12px;
      }
    }

    &-title {
      font-size: 0.8em;
      font-weight: 400;
      border: none;
      padding-bottom: 11px;
      color: var(--tooltip-color);
      transition: var(--transition);

      @media (max-width: $tablet-device-m) {
        min-height: auto;
        padding: 12px 0;
      }

      @media (max-width: $mobile-device) {
        font-size: 0.8em;
        padding-left: 0;
      }

      &--active {
        color: var(--text-color);
      }

      &.acc__title:after {
        background-image: url("/img/arrow-down.svg");
        right: 0;
      }

      &.acc__title--active:after {
        transform: scale(1, -1);
      }
    }

    &-ripple {
      border: none;
      display: flex;
      flex-direction: column;
      padding-bottom: 11px;

      & .footer__item-link {
        margin-top: 18px;

        @media (max-width: $mobile-device) {
          margin-top: 8px;
        }

        &:first-child {
          margin-top: 12px;

          @media (max-width: $mobile-device) {
            margin-top: 4px;
          }
        }
      }
    }
  }

  & .acc__content {
    padding: 0;
    border: none;
    margin-left: 14px;
  }
}