.plan {
  padding-top: 86px;
  padding-bottom: 111px;
  padding-right: 0;
  position: relative;

  @media (max-width: $tablet-device-l) {
    padding-right: 0;
  }

  @media (max-width: $tablet-device-m) {
    padding-right: 0;
  }

  @media (max-width: $mobile-device) {
    padding-right: 0;
    padding-top: 32px;
    padding-bottom: 56px;
  }

  &__head {
    display: flex;
    align-items: center;

    & .page__subtitle:after {
      content: none;
    }
  }

  &__input {
    display: none;

    &:checked + .plan__label {
      border-color: var(--bg-blue);
    }
  }

  &__label {
    cursor: pointer;
    transition: var(--transition);
    border-bottom: 3px solid transparent;

    &:first-of-type {
      margin-right: 40px;
    }
  }

  &__body {
    margin: 72px auto auto;

    @media (max-width: $mobile-device) {
      margin-top: 32px;
    }
  }

  &__link {
    margin-right: 16px;
    width: 416px !important;
    height: 400px;
    padding: 24px 20px 24px 24px;
    background-image: url("/img/panno.svg");
    background-repeat: no-repeat;
    background-color: var(--bg-plan);
    display: flex !important;
    flex-direction: column;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--text-color);
    transition: var(--transition);

    @media (max-width: $mobile-device) {
      width: 224px !important;
      font-size: 0.8em;
    }

    &:hover {
      background-color: var(--bg-white);
      border-color: var(--bg-blue);
      box-shadow: 0 2px 8px #F1F3F5;
    }

    &-more {
      font-size: 0.7em;
      color: var(--link-color);
      text-align: center;
      text-decoration: none;
      padding: 13px;
      max-width: 184px;
      border: 1px solid var(--link-color);
      border-radius: 4px;
      margin-top: auto;
      transition: var(--transition);

      @media (max-width: $mobile-device) {
        font-size: 1em;
      }

      &:hover {
        background-color: var(--bg-blue);
        color: var(--text-white);
      }

      &:active {
        opacity: 0.8;
      }
    }

    &-icon {
      width: 112px;
      height: 112px;
    }
  }
}
