@import 'node_modules/select2/src/scss/core';

.select2-container {

  &--default {

    &.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #4A4A4A transparent !important;
    }
  }

  & .select2-results__option {
    font-size: 16px !important;
  }
}

.select2-selection {

  &--single {
    background-color: #F2F7F9 !important;
    border: none !important;
    height: 56px !important;
    padding: 16px;
  }

  &__rendered {
    padding: 0 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    height: 24px !important;
  }

  &__arrow {
    top: 15px !important;
    right: 12px !important;

    b {
      border-color: #4A4A4A transparent transparent transparent !important;
    }
  }
}

.news__all-setting .select2 {

  & .select2-selection {

    &--single {
      background-color: #FFFFFF !important;
      border-radius: 2px !important;
      border: 1px solid #F3F3F5 !important;
      height: 32px !important;
      padding: 0 !important;
      padding-left: 21px !important;
      display: flex;
      align-items: center;
    }

    &__arrow {
      top: 3px !important;
      right: 15px !important;

      b {
        border-color: #009BDE transparent transparent transparent !important;
      }
    }
  }

  &.select2-container {

    &--default {

      &.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #009BDE transparent !important;
      }
    }
  }
}

.news__all-head .select2 {

  &:first-of-type {
    margin-right: 64px;

    & .select2-selection {

      &--single {
        padding-left: 25px !important;
      }

      &__arrow {
        right: -35px !important;
      }
    }
  }

  &:nth-of-type(n + 3) {
    margin-left: 64px;
  }

  & .select2-selection {

    &--single {
      background-color: #FFFFFF !important;
      border-radius: 16px !important;
      border: 1px solid #F3F3F5 !important;
      width: 112px;
      height: 32px !important;
      padding-top: 3px !important;
    }

    &__arrow {
      top: 3px !important;
      right: -20px !important;

      b {
        border-color: #009BDE transparent transparent transparent !important;
      }
    }
  }

  &.select2-container {

    &--default {

      &.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #009BDE transparent !important;
      }
    }
  }

  @media (max-width: $tablet-device-m) {
    display: none;
  }
}

.license__select > .select2 {

  &:first-of-type {

    & .select2-selection {

      &__arrow {
        right: -20px !important;
      }
    }
  }
}