.slider {
  max-width: 1504px;
  margin: auto;

  &__slide {
    height: 500px;
    padding-left: 112px;
    padding-top: 135px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/slider1.png');
  }

  &__content {
    margin: auto 0;
    color: var(--text-white);
    font-family: var(--ff-PTSans);
    font-size: 2.8em;
    line-height: 1.15;
    font-weight: 700;
    max-width: 440px;
  }
}
