.slider {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  &__input {
    display: none;
  }

  &__controls {
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0 24px;
    border: 1px solid var(--bg-white);
    border-radius: 50%;
    transition: var(--transition);
  }

  &__inner {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1504px;
  }

  &__slides {
    width: 500%;
    transition: var(--transition);
    transition-duration: 1s;
    height: 500px;
  }

  &__slide {
    float: left;
    width: 20%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;

    &--slide1 {
      background-image: url('/img/slider1.png');
    }

    &--slide2 {
      background-image: url('/img/slider1.png');
    }

    &--slide3 {
      background-image: url('/img/slider1.png');
    }

    &--slide4 {
      background-image: url('/img/slider1.png');
    }

    &--slide5 {
      background-image: url('/img/slider1.png');
    }
  }

  &__content {
    color: var(--text-white);
    font-family: var(--ff-PTSans);
    font-size: 2.8em;
    line-height: 1.15;
    font-weight: 700;
    max-width: 440px;
  }

  #slider1:checked ~ .slider__inner .slider__slides {
    transform: translate(0);
  }

  #slider2:checked ~ .slider__inner .slider__slides {
    transform: translate(-20%);
  }

  #slider3:checked ~ .slider__inner .slider__slides {
    transform: translate(-40%);
  }

  #slider4:checked ~ .slider__inner .slider__slides {
    transform: translate(-60%);
  }

  #slider5:checked ~ .slider__inner .slider__slides {
    transform: translate(-80%);
  }

  #slider1:checked ~ .slider__controls .slider__label--slider1,
  #slider2:checked ~ .slider__controls .slider__label--slider2,
  #slider3:checked ~ .slider__controls .slider__label--slider3,
  #slider4:checked ~ .slider__controls .slider__label--slider4,
  #slider5:checked ~ .slider__controls .slider__label--slider5 {
    background-color: var(--bg-white);
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.3);
  }
}