.vacancy {
  background-image: linear-gradient(134.72deg, #004DA4 0%, #008ACB 32.88%, rgba(0, 150, 210, 0.5) 45%, rgba(0, 181, 230, 0.0001) 101.5%), linear-gradient(134.72deg, #004DA4 0%, #00B5E6 101.5%);
  border-radius: 8px;
  padding-top: 39px;
  padding-bottom: 39px;
  position: relative;

  min-height: 240px;

  &:after {
    content: '';
    background-image: url("/img/panno-job.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70% 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }

  &__head {
    margin-left: 48px;
    margin-right: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: var(--text-white);
  }

  &__logo {
    width: 331px;
    height: 163px;
    mix-blend-mode: luminosity;
  }

  &__choice {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__select {
    width: calc(50% - 8px) !important;
    background-color: #F2F7F9;
    border-radius: 4px;
    font-size: 0.8em;
    font-family: var(--ff-OpenSans);
    color: var(--text-color);
    padding: 16px !important;
    border: none;
  }

  &__item {
    width: calc(33.333% - 12px);
    min-height: 128px;
    text-decoration: none;
    padding: 16px;
    box-shadow: 0 2px 8px #F1F3F5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
    border: 1px solid transparent;
    transition: var(--transition);

    @media (max-width: $tablet-device-l) {
      width: calc(50% - 8px);
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 3px 9px #F1F3F5;
      border-color: var(--bg-blue);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &-wrap {
      padding-top: 16px;
      padding-bottom: 435px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $tablet-device-l) {
        justify-content: space-between;
        padding-bottom: 155px;
      }
    }

    &:nth-child(n+4) {
      margin-top: 16px;
    }

    &-title {
      color: var(--text-color);
      font-weight: 600;
    }

    &-branch {
      font-size: 0.6em;
      text-transform: none;
      display: flex;
      align-items: center;

      &:before {
        margin-left: 0;
      }
    }

    &-link {
      margin-left: auto;
    }

    &-description {
      color: var(--text-color);
      font-size: 0.8em;
      margin-top: 8px;
    }

    &-front {
      min-height: 96px;
      width: 100%;
      background-image: url('/img/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: calc(100% - 16px) center;
      margin-top: 0;
      margin-right: 0;

      @media (max-width: $tablet-device-l) {
        width: 100%;
      }

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  &__front {
    padding-top: 35px;


    &-wrap {
      flex-direction: column;
      padding-bottom: 285px;
    }

    &-branch {
      text-transform: uppercase;
    }

    &-info {
      color: var(--text-color);
      margin-left: 32px;
      text-transform: none;
    }
  }

  &__amount {
    font-size: 0.8em;
    margin-top: 36px;
  }

  &__more {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;

    &-head {
      display: flex;
      flex-direction: column;
    }

    &-branch {
      margin-top: 28px;
      font-size: 0.6em;
    }

    &-link {
      margin-top: 0;
      margin-bottom: auto;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 0.8em;
    }
  }

  &__description {
    padding-top: 92px;
    padding-bottom: 260px;

    @media (max-width: $tablet-device-l) {
      padding-bottom: 115px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      margin-top: 64px;

      &:first-child {
        margin-top: 0;
      }
    }

    &-head {
      font-weight: 600;
      min-width: 368px;
    }

    &-list {
      margin: 0;
      max-width: 671px;
      font-size: 0.9em;
      color: var(--bg-blue);
    }

    &-li {
      margin-top: 16px;

      &:before {
        content: '';
      }

      &:first-child {
        margin-top: 0;
      }

      &--color {
        color: var(--text-color);
      }
    }
  }
}